<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <script src="{{ url_for('static',filename='JavaScript/inicioSesion.js')}}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-producto.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>
<body>
    <div class = "limiter">
        <div class = "content-container">
            <div class="page-header">
                <h1>Bienvenido {{ session['username'] }}</h1>
                <h2><script>DameLaFechaHora();</script></h2>
                <h3>
                    {% for message in get_flashed_messages()%}
                        <div>{{ message }}</div>
                    {% endfor %}
                </h3>
            </div>            

            <div class="wrap-content">
                <form class="product-form-add" enctype="multipart/form-data" action="{{url_for('add_product')}}" method="POST" id="form">

                    <label for="productId">Referencia</label>
                    <div class="wrap-inputs">
                        <input class="inputs" type="number" name="productId" id="productId"
                        placeholder="Eg. 13211">
                    </div>
 
                    <label for="productName">Nombre del producto</label>            
                    <div class="wrap-inputs">
                        <input class="inputs" type="text" name="productName" id="productName"
                        placeholder="Eg. Producto">
                    </div>


                    <label for="productQuantity">Cantidad</label>
                    <div class="wrap-inputs">
                        <input class="inputs" type="number" name="productQuantity" id="productQuantity"
                        placeholder="Eg. 10">
                    </div>                  

                    <label for="productDescription">Descripción</label>
                    <div class="wrap-inputs">
                        <input class="inputs" type="text" name="productDescription" id="productDescription"
                        placeholder="Eg. Lorem ipsum...">
                    </div>
                    <div>
                        <button class="buttons" type="submit">Crear producto</button>
                    </div>
                    
                </form>
                <div class="wrap-product-image">
                    <span class="container-product-image">
                        <label for="productImage">Imagen del producto</label>
                    </span>
                    <div class="container-button-inblock">
                        <input type="file" id="file" name="file" style="display: none;" form="form">
                        <input class="button-image" type="button" value="Subir imagen" form="form"
                               onclick="document.getElementById('file').click();" />
                    </div>
                </div>
            </div>             
        </div>
        <div class="wrap-button">
            <div class="container-button">
                <button class="buttons" type="button" onclick="location.href='{{url_for('product')}}'">ATRAS</button>
            </div>
        </div>
    </div>
</body>
</html>