<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script src="{{ url_for('static',filename='JavaScript/inicioSesion.js')}}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-login.css') }}">
</head>
<body>

    <div class = "limiter">
        <div class = "content-container">
            <div class ="wrap-login">
                <div class="login-form-title">
                    <h1>¡Error!</h1>
                </div>

                <div>
                La pagina solicitada no está disponible en este momento. ¡Lo sentimos!
                </div>

            </div>
        </div>
    </div>
</body>
</html>